meta(name="description", content=app_description)
// Facebook
meta(property="og:title", content=app_name)
meta(property="og:type", content="website")
meta(property="og:description", content=app_description)
meta(property="og:url", content=app_url)
meta(property="og:image", content=app_url + "ogimage.webp")

//Twitter
meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:domain", content="jan-ka.github.io/sams-still-alive")
meta(property="twitter:url", content=app_url)
meta(property="twitter:title", content=app_name)
meta(property="twitter:description", content=app_description)
meta(property="twitter:image", content=app_url + "ogimage.webp")
